h1{
    background-color: #96ceb4;
}

h2{
    background-color: #ff6f69;
}

h3{
    background-color: #ffeead;
}

p{
    background-color: #cccccc;
}

ul{
    background-color: #88d8d8;
}

li{
    background-color: #ffcc5c;
}
