body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #A1CC3A;
}

li{
    display: inline-block;
    background-color: #A1CC3A;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer{
    background-color: #A1CC3A;
    padding-top: 1px;
    padding-bottom: 1px;
}

nav{
    background-color: #A1CC3A;
}

a{
    color: #666363;
    text-decoration-line: none;
}

a:hover{
    color: #ffffff;
    text-decoration-line: underline;
}