body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color: #000000;
    color: #FFFFFF;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
    padding: 2px;
}

h2{
    text-align: right;
}

p{
    text-align: justify;
}

.wrapper{
    width: 900px;
    padding: 1.5em;
    margin: auto;
}
